$c-primary: (
    50 : #e5e3e9,
    100 : #bdb9c8,
    200 : #918aa3,
    300 : #655b7e,
    400 : #443763,
    500 : #231447,
    600 : #1f1240,
    700 : #1a0e37,
    800 : #150b2f,
    900 : #0c0620,
    A100 : #775eff,
    A200 : #4c2bff,
    A400 : #2700f7,
    A700 : #2300dd,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #ffffff,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #ffffff,
        A200 : #ffffff,
        A400 : #ffffff,
        A700 : #ffffff,
    )
);
